.main {
  width: 100vw;
  min-height: 100vh;
  background-color: #efefef;
  display: flex;
}
.main--dark {
  background-color: black;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
}
.right {
  width: 100%;

  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
